/*a:active MUST come after a:hover in the CSS definition in order to be effective*/
/*a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective*/

#WholePageContent{
font-family:"cambria";}

.Tabs{
list-style-type: none; 
margin:0;
paddin:0;
font-family:"cambria";
}

.Tabs li{
display:inline-block;
clear:none; }
 
.TabContent a{
position: relative;
margin-top: 16px;
display: block;
margin-left: 6px;
line-height: 24px;
padding-left: 10px;
/*CHANGING BOTTOM PADDING TO MAKE IT LONGER AND GO BEHIND DIV BOX*/
padding-bottom:3px;
 /* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */ 
width: 130px;
color: #000000;
text-decoration: none;
font-weight: bold;
}

/*REGULAR STYLE OF TABS*/
.Unselected {
background-color:LightBlue;
border: 1px solid DarkBlue;
}

/*SELECTED TAB SEEMS SEAMLESS TO DIV BOX BELOW*/
.Selected {
background-color:AliceBlue;
border: 1px solid DarkBlue;
border-bottom:0px;
padding-bottom:3px;
/*PUTTING THIS ON TOP OF EVERYTHING ELSE (STACK ORDER)*/
z-index:99;
 }

.TabContent a:hover{
 background-color:AliceBlue;
}

#Frame{
/* this is the css class for the content displayed in each tab */
padding: 0 0;
clear:both;
overflow:hidden;
line-height:19px;
position: relative;
height: 500px;
width:98%;
overflow: hidden;
border:1px solid DarkBlue;
top:-2px;
background-color:AliceBlue;
}

.Title{
margin-left:50px;
margin-top:20px; }

.TitleLink {
 font-weight:bolder;
 border:0px;
 text-decoration:none;
 color:Chocolate;
}
 
.Title a:active{
color:Chocolate;
}
 
.BodySummary{
 margin-left:100px;
 margin-right:100px;
}

.Author{
margin-left:100px;
 margin-right:100px;
font-style:italic;
text-decoration:underline;
color:Brown;
text-transform:capitalize;
}
 